{{> navbar}}
<div class="container mt-3">
  <div divdiv class="card border-danger mb-3" style="max-width: 70rem;">
  <h3 class="mb-3">404 - Ups, no encontramos lo que buscabas :(</h3>
  <img src="/img/pokenull.jpg" alt="blackat" style="max-width:600px;width=100%">
  {{> backhome}}
</div>
</div>