{{> navbar}}
<div class="container mt-3">
<div class="card border-danger mb-3" style="max-width: 70rem;">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <div class="mt-3 d-flex gap-2">
    <a href="/articles/{{id}}/update">
      <button class="btn btn-sm text-white" style="background-color: #ff2d2d;">Editar eleccion</button>
    </a>
    <form action="/articles/{{id}}/delete" method="POST">
      <button type="submit" class="btn btn-outline-dark btn-sm">Eliminar eleccion</button>
    </form>
  </div>
  {{> backhome}}
</div>
</div>