{{> navbar}}
<div class="container mt-3">
  <div divdiv class="card border-danger mb-3" style="max-width: 70rem;">
  <h3>Se ha eliminado con éxito tu eleccion "{{title}}" ({{id}})</h3>
  {{> backhome}}
</div>
</div>