<nav class="navbar navbar-light" style="background-color: #ff2d2d;">
  <div class="container d-flex justify-content-between">
    <a href="/" class="text-decoration-none">
      <span class="navbar-brand text-white mb-0 h1">Blackat Selector</span>
    </a>
    <a href="/articles/create">
      <button class="btn btn-outline-light btn-sm">
        <i class="fas fa-plus"></i>
        Ir a eleccion
      </button>
    </a>
  </div>
</nav>